.advantages__description {
  color: var(--black-txt, #b9c0c1);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  max-width: 495px;
  margin-top: 16px;
}

@media screen and (max-width: 849px) {
  .advantages__description {
    text-align: center;
  }
}

@media screen and (max-width: 489px) {
  .advantages__description {
    line-height: 30px;
  }
}
