.order__button {
  box-sizing: border-box;
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #fe4610;
  box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
  margin: 17px auto 0 auto;
  border: none;
  padding: 15px 24px;
}
