.preview__cards {
  display: grid;
  grid-template-rows: 184px 184px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;
  width: 100%;
  max-width: 581px;
  margin-left: auto;
  position: relative;
  bottom: 22px;
}

@media screen and (max-width: 1299px) {
  .preview__cards {
    margin: 30px auto;
  }
}

@media screen and (max-width: 699px) {
  .preview__cards {
    bottom: 0;
    grid-template-rows: repeat(3, 230px);
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 499px) {
  .preview__cards {
    grid-template-rows: repeat(3, 165px);
  }
}

@media screen and (max-width: 370px) {
  .preview__cards {
    grid-template-rows: repeat(3, 150px);
  }
}
