.preview__cards {
  display: grid;
  grid-template-rows: 184px 184px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;
  width: 100%;
  max-width: 581px;
  margin-left: auto;
  position: relative;
  bottom: 22px;
}

@media screen and (max-width: 699px) {
  .preview__cards {
    bottom: 0;
    margin: 0 auto;
    grid-template-rows: repeat(3, 184px);
    grid-template-columns: 1fr 1fr;
  }
}
