.offers {
  margin: 18px 180px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .offers {
    margin: 18px 10% 0 10%;
  }
}
