.order__input {
  box-sizing: border-box;
  width: 375px;
  padding: 20px 0 16px 14px;
  border-radius: 10px;
  background: #fafafa;
  border: none;
  color: var(--form, #abadad);
}

@media screen and (max-width: 599px) {
  .order__input {
    width: 100%;
  }
}
