.preview__button {
  border-radius: 10px;
  background: #fe4610;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
  padding: 14px 21px 14px 22px;
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 385px) {
  .preview__button {
    font-size: 14px;
    padding: 14px 18px;
  }
}
