.header__link {
  color: #001f29;
  font-family: "Ubuntu";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  margin-right: 3.25%;
}

@media screen and (max-width: 899px) {
  .header__link:nth-child(2) {
    grid-area: link-1;
  }
  .header__link:nth-child(3) {
    grid-area: link-2;
  }
  .header__link:nth-child(4) {
    grid-area: link-3;
  }
  .header__link:nth-child(5) {
    grid-area: link-4;
  }
}
