.offers__pattern {
  width: 100px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
}

@media screen and (max-width: 958px) {
  .offers__pattern {
    margin-right: 45px;
  }
}
