.contact {
  margin: 80px 9.59% 0 8.22%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1360px) {
  .contact {
    flex-direction: column;
    gap: 75px;
    align-items: center;
    margin: 80px 8.22% 0 8.22%;
  }
}
