.popup__signup-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 30.5%;
}

@media screen and (max-width: 999px) {
  .popup__signup-description {
    margin: 0;
  }
}
