.contact__cards {
  display: flex;
  column-gap: 16px;
  row-gap: 18px;
  flex-wrap: wrap;
}

@media screen and (max-width: 749px) {
  .contact__cards {
    flex-direction: column;
    align-items: center;
  }
}
